
#catálogo
SESSION_SECRET= # Chave da sessão, gerei a minha por esta site: https://randomkeygen.com/
PORT_CATALOGO=3000
TMDB_API_KEY= # Chave da API TMDB
AUTH_SERVICE_URL=http://auth-service:4000

#auth/service
PORT_AUTH=4000
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=
MAILTRAP_PASS=
APP_URL= # Seu domínio ou localhost

#Banco
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=