#catálogo
SESSION_SECRET= # Chave da sessão, gerei a minha por esta site: https://randomkeygen.com
PORT_CATALOGO=3000
TMDB_API_KEY= # Chave da API TMDB
AUTH_SERVICE_URL=http://auth-service:4000
JWT_SECRET= # Chave JWT, gerada também à partir de: https://randomkeygen.com

#auth/service
PORT_AUTH=4000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER= # Seu usuário SMTP
SMTP_PASS= # Seu Hash para acessar seu serviço SMTP
APP_URL= # Seu domínio ou localhost

#Banco
DB_HOST= #ip do seu banco
DB_USER= # Usuário do seu banco
DB_PASSWORD= # Senha do seu banco
DB_NAME= # nome do seu banco